/* dấu *: chọn tất cả các thẻ html  */
/* Global: dùng cho toàn bộ website  */
* {
    /* reset margin, padding mặc định của trình duyệt  */
    margin: 0;
    padding: 0;
    /* box-sizing: giữ nguyên kích thước width của thẻ item khi thêm padding  */
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body,
html {
    color: #8D8D8D;
    background-color: #FAF4F2;
}

.clear {
    clear: both;
}

/* HEADER  */
.header {
    background-color: #F8E1DB;
    padding: 10px 35px;
}

#logo {
    padding: 5px 20px;
}

.header ul {
    /* B1: xóa dấu tròn đen */
    list-style: none;
}

.header a {
    /* B2: xóa đường gạch chân  */
    text-decoration: none;
    color: black;
}

.header li {
    /* B3: chuyển li từ block sang inline=> các li sẽ chung 1 hàng  */
    display: inline;
    /* margin: khoảng cách từ thẻ này tới thẻ kế bên  */
    margin: 20px;
    /* padding: khoảng cách từ content đến border của thẻ  */
    /* padding: 15px; */
    /* border: 3px solid red; */

}

/* CAROUSEL  */
.carousel {
    background-image: url(../Image/BG.png);
    /* do thẻ carousel đang bị thiếu height trên trình duyệt  */
    height: 600px;
    /* cover: phủ hết khung của thẻ carousel  */
    background-size: cover;
    /* background-position: thay đổi vị trí hiển thị mặc định của trình duyệt top, left  */
    background-position: center;
    /* background-repeat: không cho lặp lại hình  */
    background-repeat: no-repeat;

}

/* ACTIVITIES  */
/* display: inline chỉ áp dụng cho nội dung đơn giản(chứa 1 con, hoặc 1 dòng chữ ngắn)  */
/* float: giúp sắp xếp các khối nội dung, hỗ trợ cho mọi phiên bản trình duyệt, nhược điểm khó sử dụng  */

/* activities__item: thẻ nào cần sắp xếp thì gọi thẻ đó  */
.activities__item {
    float: left;
    /* kích thước tối đa của trình duyệt 100%  */

    /* width: 100%, nếu tràn trình duyệt sẽ làm rớt hàng kích thước của 1 thẻ item (width)= content + padding + border => (content 25% + 20px) x 4 > 100%  */

    /* margin: 0 10px; */

    /* border: 1px solid red; */
    padding: 15px;
    width: 25%;
}

.activities__title {
    text-align: center;

    margin: 70px 0 20px;


}

.activities__background {
    background-color: white;
    border-radius: 20px;
    padding: 32px;
}

.activities__image {
    position: relative;
}

.activities__heart {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #E76F51;
    z-index: 1;
    text-align: center;
}

.activities__image img {
    border-radius: 20px;
    width: 100%;

}

.activities__info {
    text-align: center;

}

.activities__info p {
    margin: 20px 0px 20px;
}

.activities__info h3 {
    color: black;
    margin: 15px 0px;
}

.activities__info button {
    background-color: #E8E8E8;
    border: 1px solid #FFFFFF;
    padding: 12px 50px;
    border-radius: 25px;
    color: #8D8D8D;

}

.activities__viewall {
    text-align: center;
}

.activities__viewall button {
    border: 1px solid #E76F51;
    color: #E76F51;
    border-radius: 25px;
    padding: 12px 66px;
    margin: 20px 0 66px;
    background-color: transparent;
}

.activities__viewall button:hover,
.activities__info button:hover {
    background-color: #E76F51;
    color: white;
}


/* CONTACT  */
.contact {
    background-color: #F8E1DB;
    border-radius: 20px;
    margin-bottom: 100px;
    height: 396px;

}

.contact__right,
.contact__left {
    width: 50%;
    float: left;
    padding: 20px 60px;
}

.contact__left {
    background: url(../Image/mask.png);
    background-position: center;
    background-size: cover;

}

.contact__app,
.contact__us {
    float: left;
    width: 50%;
}

.contact__us i {
    color: #E76F51;
    font-size: 25px;
    margin-right: 10px;
}

.contact__right {
    padding-top: 70px;
}

.contact__right p {
    margin: 10px 0px 30px;
}

.contact_right h2 {
    font-size: 30px;
}

.contact__right h3 {
    margin-bottom: 15px;
}

.contact__app img {
    width: 49%;
}


/* FOOTER  */
.footer {
    background-color: #F8E1DB;
    color: #3A3735;
    border-radius: 80px 80px 0 0;
    padding: 100px 30px;
}


.footer__left {
    float: left;
    width: 40%;
    padding: 0 20px;
}

.footer__left p {
    line-height: 30px;
}

.footer__right {
    float: left;
    width: 60%;
    padding: 0 20px
}

.footer__aboutus {
    float: left;
    width: 33.33%;
    padding: 0 20px;

}

.footer h3 {
    margin-bottom: 25px;
}

.footer__aboutus a {
    text-decoration: none;
    color: #3A3735;
}

.footer__aboutus li {
    list-style-type: none;
    margin-bottom: 12px;

}

.footer__copyright {
    text-align: center;
    padding-top: 30px;
}